{% extends 'log.html' %}
{% load static %}
{% block form %}
<form class="login100-form validate-form" method="post">{% csrf_token %}
  <div class="d-flex flex-column pb-3">
    <a href="{% url 'homepage:home' %}"><img class="img-fluid mx-auto d-block" src="{% static 'img/logo.png' %}" alt="logo image" width="72" height="72"></a>
  </div>
  <span class="login100-form-title p-b-33">
    Reset password  
  </span>

  <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
    <input name="email" class="input100" placeholder="Your Email Address" type="email" id="id_email" required="true" autofocus>
    <span class="focus-input100-1"></span>
    <span class="focus-input100-2"></span>
  </div>

  <div class="container-login100-form-btn m-t-20">
    <button class="login100-form-btn" type="submit">
      Send reset email
    </button>
  </div>

  <div class="text-center">
    <span class="txt1">
      Back To
    </span>

    <a href="{% url 'homepage:home' %}" class="txt2 hov1">
      Home
    </a>
  </div>
</form>
        

{% endblock  %}
