{% extends 'log.html' %}
{% load static %}
{% block form %} 
<form class="login100-form validate-form" method="post">{% csrf_token %}
  <div class="d-flex flex-column pb-3">
    <a href="{% url 'homepage:home' %}"><img class="img-fluid mx-auto d-block" src="{% static 'img/logo.png' %}" alt="logo image" width="72" height="72"></a>
  </div>
  <span class="login100-form-title p-b-33">
    Change password
  </span>

  <div class="wrap-input100 validate-input" data-validate = "Valid email is required: example@abc.com">
    <input name="old_password" class="input100" placeholder="Old password" type="password" id="id_old_password" required="true" autofocus>
    <span class="focus-input100-1"></span>
    <span class="focus-input100-2"></span>
  </div>

  <div class="wrap-input100 rs1 validate-input" data-validate="Username is required">
    <input name="new_password1" class="input100" placeholder="New password" type="password" id="id_new_password1" required="true">
    <span class="focus-input100-1"></span>
    <span class="focus-input100-2"></span>
  </div>

  <div class="wrap-input100 rs1 validate-input" data-validate="Password-One is required">
    <input name="new_password2" class="input100" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
    <span class="focus-input100-1"></span>
    <span class="focus-input100-2"></span>
  </div>

  {% for field in form %}
  {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
  {% endfor %}
{% endfor %}

  <div class="container-login100-form-btn m-t-20">
    <button class="login100-form-btn" type="submit">
      Update
    </button>
  </div>

  <div class="text-center">
    <span class="txt1">
      Go Back To Home?
    </span>

    <a href="{% url 'homepage:home' %}" class="txt2 hov1">
      Home
    </a>
  </div>

</form>
        
{% endblock form %}
