{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- ***** Breadcrumb Area Start ***** -->
    <div class="breadcrumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcumb--con">
                        <h2 class="title">Blog Single</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'homepage:home' %}"><i class="fa fa-home"></i> Home</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'blog:blog' %}">Blog</a></li>
                                <li class="breadcrumb-item active" aria-current="page" dir="rtl">{{blog_post.title}}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <!-- Background Curve -->
        <!-- Background Curve -->
        <div class="breadcrumb-bg-curve">
            <img src="{% static './img/core-img/curve-5.png' %}" alt="">
        </div>
    </div>
    <!-- ***** Breadcrumb Area End ***** -->
    <!-- ***** Blog Details Area Start ***** -->
    <section class="blog-details-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="blog-details-content">
                        <!-- Post Details Text -->
                        <div class="post-details-text">

					<div class="row justify-content-center">
						<div class="col-12 col-lg-10">
							<div class="post-content text-center mb-50">
								<a href="#" class="post-date"><span>{{blog_post.date_published|date:"d"}}</span>{{blog_post.date_published|date:"M Y"}}</a>
								<h2 dir="rtl">{{blog_post.title}}</h2>
							</div>
						</div>
						<div class="col-12 mb-20">
							<img  src="{{blog_post.image.url}}" alt=""><br>
							<small>Posted on {{blog_post.date_published|date:"M Y"}} by {{blog_post.author}}</small>
						</div>
						<div class="col-12 col-lg-10">
							<p dir="rtl" class="text-right"><strong>{{blog_post.body|safe}}</strong></p>
							<!-- Post Catagories & Post Share -->
							<div class="d-flex align-items-center justify-content-between">
								<!-- Post Catagories -->
								<!-- Post Share -->

							</div>
							<!-- Related News Area -->

							<!-- Comments Area -->
		
							<!-- Leave A Reply -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>
    <!-- ***** Blog Details Area End ***** -->
{% endblock content %}
